<div class="row">
    <div class="col-md-3">
        <input type="text" name="" class="form-control" #uname placeholder="enter name">

        <button class="btn btn-success" (click)="  CreateUser (uname)">create user</button>

        <button class="btn btn-danger" (click)="RemoveUser()">Remove user</button>


    </div>
</div>
<div class="row">
    <div class="col-md-10">
    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users; index as i">
                <td>{{user.name}}</td>
           
            <td>
                <button class="btn btn-danger" (click)="RemoveItem(i)">Remove item</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</div>


