
<div class="containor">
    <div class="row">
<table>

    <thead>
        <tr>
            <th>serial no</th>
            <th>Product Image</th>
            <th>Product Name</th>
            <th>Product Id</th>
            <th>Product Price</th>
        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let mypro of products; index as i">
            <td>{{i+1}}</td>
            <td><img src="{{mypro.proimg}}" width="70" alt=""></td>
            <td>{{mypro.name}}</td>
            <td>{{mypro.id}}</td>
            <td>{{mypro.price}}</td>
            <td></td>
        </tr>
    </tbody>
</table>
</div>
</div>