<h1>
   Home
</h1>
<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, neque. Rem possimus alias animi cum similique
   quas reprehenderit eaque! Hic esse maiores voluptate nostrum praesentium, delectus aliquam qui perspiciatis
   perferendis beatae vero odit ipsa ratione adipisci tenetur quia saepe ad iste! Repellat, ipsa! Harum voluptas labore
   modi omnis hic voluptatibus reiciendis doloremque at sint praesentium, recusandae obcaecati a nesciunt deserunt
   illum deleniti non eaque quae cum odit nihil. Suscipit aspernatur impedit consequatur nam, cupiditate eligendi id?
   Voluptatum, rem cum minima asperiores voluptatem cupiditate eos nisi deleniti quos autem eius repudiandae quasi
   voluptas fugit dolorem nobis repellat placeat voluptatibus maiores doloribus?</p>

<!-- 
    <div class="products">
       <ng-container *ngIf="statusOnline">
         <div *ngFor="let productsitems of products">
            {{productsitems.name}}
         </div>
       </ng-container>
       
    </div> -->

<div #box>
   <h1>user name is <span class="text-success">{{userName}}</span></h1>
   <div class="row">
      <div class="col-md-6">
         <button (click)="changechildproperty()">Change child Property</button> &nbsp;
         <button (click)="callchildmethod()">Call Child Method</button>

         <div class="custom-dropdown">
            <span class="dropdown-header active">
               MyDropDown
            </span>
            <div class="dropdown-content">
               <a href="">Item1</a>
               <a href="">Item2</a>
               <a href="">Item3</a>
               <a href="">Item4</a>
            </div>
         </div>
      </div>
      <div class="col-md-6">
         <app-comp2>
            <p #childCon>this is ng content paragraph</p>
         </app-comp2>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
   </div>
</div>