<div class="page-area">
  <div class="text-center">
    <h1>Products</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi voluptates eveniet recusandae laboriosam iusto
      quaerat a fugit, provident ratione at itaque dolores totam ut corrupti saepe reiciendis quidem placeat eum
      sapiente
      maiores iure quod dolore blanditiis. Cum, magnam alias quo, quas eaque, tenetur saepe architecto labore obcaecati
      ea
      dicta nemo inventore. Voluptas suscipit maxime animi consequuntur id harum temporibus doloremque, molestiae,
      aliquam
      nesciunt dolores eaque repudiandae magnam dicta quibusdam repellat nisi voluptatem non placeat. Magni distinctio
      doloremque cupiditate cum cumque delectus, facilis aspernatur ullam aperiam, excepturi recusandae consectetur
      commodi ab nihil et earum sed veritatis veniam quis? Rerum, et obcaecati.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card"  appTestdirective>
      <img src="https://images.unsplash.com/photo-1525547719571-a2d4ac8945e2?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=60&raw_url=true&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8bGFwdG9wfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Laptop</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a routerLink="laptop" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>



    <div class="card" appTestdirective>
      <img src="https://images.unsplash.com/photo-1511707171634-5f897ff02aa9?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=60&raw_url=true&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cGhvbmV8ZW58MHx8MHx8&auto=format&fit=crop&w=500" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Mobile</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.
        </p>
        <a routerLink="fan" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>


    <div class="card" appTestdirective>
      <img src="https://images.unsplash.com/photo-1593305841991-05c297ba4575?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=60&raw_url=true&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8dHZ8ZW58MHx8MHx8&auto=format&fit=crop&w=500" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Tv</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.
        </p>
        <a routerLink="tv" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>


    <div class="card" appTestdirective>
      <img src="https://images.unsplash.com/photo-1626806819282-2c1dc01a5e0c?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=60&raw_url=true&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8d2FzaGluZyUyMG1hY2hpbmV8ZW58MHx8MHx8&auto=format&fit=crop&w=500" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Washing Machine</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.
        </p>
        <a routerLink="washingmachine" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

  </div>
</div>